{% extends "base.html" %}
{% load static %}

<!-- Header -->

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<!-- End of Header -->

<!-- Portfolio Main-Image -->
{% block content %}
    <div class="overlay"></div>
   <div class="container-fluid">
        <div class="row">
            <div class="col-12 padding-none margin-top-work-mobile">
                <div class="image-container">
                    
                        <a href="{{ portfolio.big_image.url }}" target="_blank">
                            <img class="card-img-top portfolio-images img-fluid" src="{{ portfolio.portfolio_image.url }}" alt="{{ portfolio.name }}">
                        </a>
                        
                </div>
            </div>
        </div>
    </div>
<!-- End of Portfolio Main-Image -->

<!-- Portfolio Details -->
    <div class="container mb-4">
        <div class="row portfolio-spacing">
            <div class="col-md-7">
                <h1 class="portfolio-heading">{{ portfolio.title }}</h1>
                
                <p class="lead">{{ portfolio.description }}</p>
            </div>
            <div class="col-md-5 ">
                <h1 class="portfolio-heading">What we did</h1>
                
                <ul>
                    <li class="bullet-item">
                        {{ portfolio.bullet_1 }}
                    </li>
                    <li class="bullet-item">
                        {{ portfolio.bullet_2 }}
                    </li>
                    <li class="bullet-item">
                        {{ portfolio.bullet_3 }}
                    </li>
                    <li class="bullet-item">
                        {{ portfolio.bullet_4 }}
                    </li>
                </ul>
            </div>
        </div>
    </div>

<!-- End of Portfolio Details -->

<!-- Portfolio Image1 -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 padding-none">
                <div class="image-container">
                    <img class="card-img-top portfolio-images img-fluid" src="{{ portfolio.image_1.url }}" alt="{{ portfolio.name }}">
                </div>
            </div>
        </div>
    </div>

<!-- End of Portfolio Image1 -->

<!-- Portfolio Approach -->
    <div class="container mb-4">
        <div class="row portfolio-spacing">
            <div class="col-12">
                <h1 class="portfolio-heading">Approach</h1>

                <p class="lead">{{ portfolio.approach }}</p>
            </div>
        </div>
    </div>
<!-- End of Portfolio Approach -->

<!-- Portfolio Image 2 -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 padding-none">
                <div class="image-container">
                    <img class="card-img-top portfolio-images img-fluid" src="{{ portfolio.image_2.url }}" alt="{{ portfolio.name }}">
                </div>
            </div>
        </div>
    </div>
<!-- End of Portfolio Image 2 -->

<!-- DESIGNDROP info -->
    <div class="container mb-4">
        <div class="row portfolio-spacing">
            <div class="col-12">
                <h1 class="portfolio-heading title-blue">HERE @ DESIGNDROP</h1>
                
                <p class="lead">We follow a unique, creative approach to deisgning the finest graphics to allow your product to promote itself. We ensure the highest quality on all services that we provide.
                                We work work closely with the best freelance designers around the globe, This gives us the best advantage over any other graphic design service around. We will guarentee to bring your
                                Innovations to life. We balance creativity with function offering cutting-edge design that sets your business apart from the competition.
                                Your logo and branding are your unique visual identifier, helping people recognise you and allow them to remember what your essence holds. 
                                By working alongside us here at DESIGNDROP - we guarantee you will not be compromising the importance within the essence of your brand.
                
                </p>
            </div>
        </div>
    </div>
<!-- End of DESIGNDROP info -->

<!-- DESIGNDROP Image -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 padding-none">
                <div class="image-container">
                     <img class="card-img-top portfolio-images img-fluid" src="{{ portfolio.specific_design_drop.url }}" alt="{{ portfolio.name }}">
                </div>
            </div>
            <div class="col-6 padding-none">
                
            </div>
        </div>
    </div>
<!-- End of DESIGNDROP Image -->

<!-- Back to work page button -->
    <div class="container">
          <div class="row">
            <div class="col-12 padding-60" >
                <a class="btn btn-green-sm" href="{% url 'portfolio' %}">
                    <span class="btn-black-title">
                        Back to Our work
                    </span>
                </a>
            </div>
          </div>
    </div>
<!-- End of Back to work page button -->
{% endblock %}


