{% extends "base.html" %}
{% load static %}

<!-- Header  -->

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<!-- End of Header -->

<!-- Portfolios -->
{% block content %}
    <div class="overlay"></div>
   <div class="container-fluid">
        <div class="row">
            <div class="col text-center padding-80">
                <h2 class="logo-font">Our Work</h2>
                <hr class="w-50 mb-1">
                <span>Take a look for yourself and click on any of our projects!</span>
            </div>
        </div>

        
            <div class="portfolio-container ">
                <div class="row mt-1 mb-2">
                {% for portfolio in portfolio %}
                        <div class=" col-lg-12 col-xl-6 col-sm-12 col-md-12 padding-none">
                            <div class="card h-100 border-0">
                                <a href="{% url 'portfolio_details' portfolio.id %}">
                                    <img class="card-img-top portfolio-image img-fluid" src="{{ MEDIA_URL }}{{ portfolio.big_image }}" alt="{{ portfolio.name }}">
                                </a>
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
              
            </div>
       
   </div>
<!-- End of Portfolios -->

   <!-- Testimonials -->

   <div class="container-fluid padding-60">
   <hr class="featurette-divider">
       <div class="testimonials-clean bg-light padding-60">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Testimonials </h2>
                <p class="text-center">Our customers love us! Read what they have to say below.</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">Not only do the staff at DESIGNDROP have a great eye for design and conception - they are accommodating, patient and give honest, helpful feedback. They did not hesitate when I required changes to the orders. My brand is now exactly what I envisioned, I would not hesitate to work with or recommend this wonderful company to anyone in need of great service</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="/media/testimonial1.png">
                        <h5 class="name">Ben Johnson</h5>
                        <p class="title">CEO of Company Inc.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">I would recommend Matthew at DESIGNDROP to anyone looking for exquisite work. He managed to put our ideas to paper while also putting in personal touches. Eventually, after daily phone-calls and emails - we now have developed something that would not have been possible without such a hardworking man.</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="/media/testimonial2.png">
                        <h5 class="name">Carl Kent</h5>
                        <p class="title">Founder of Style Co.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">I was recommended DESIGNDROP by a friend and it did not fall short of expectation. They truly go above and beyond for their clients, we were provided with a professional logo for our business and a sleek update for our website; not one fault to be found!.</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="/media/testimonial3.png">
                        <h5 class="name">Emily Clark</h5>
                        <p class="title">Owner of Creative Ltd.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<!-- End of Testimonials -->
   
<!-- Buttons -->
   <div class="container">
         <hr class="featurette-divider">
         <div class="row">
            <div class="col-12" >
                <a class="btn btn-specific mb-4" href="{% url 'services' %}">
                    <span class="btn-black-title">
                        View our Services
                    </span>
                    <br>
                </a>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mb-4 " >
                <a class="btn btn-green-sm" href="{% url 'home' %}">
                    <span class="btn-black-title">
                        Back to Home
                    </span>
                    <br>
                </a>
            </div>
          </div>
          
    </div>
<!-- End of Buttons --> 
{% endblock %}

    {% block postloadjs %}
        <script type="text/javascript">
           
        </script>
    {% endblock %}