{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 col-sm-12 mt-5 p-3 my-auto">
                <h1 class="display-3 logo-font text-white">
                    Graphics Simplified
                </h1>
                <div class="my-5">
                    <p class="text-white">
                        Located in Ireland, we are a top level graphic design and branding studio focused on helping our clients exceed their goals. Let us make your life easier!
                    </p>
                </div>
                <div class="row ">
                 <div class="col-lg-8 col-sm-8 px-3">
                   <button type="button" class="btn btn-black" onclick="">
                        <span class="btn-black-title">
                            Let us help you!
                        </span>
                        <br>
                        <span>
                            Create an account
                        </span>
                   </button>
                 </div>
                 <div class="col-lg-8 col-sm-8 px-3">
                   <button type="button" class="btn btn-white" onclick="">
                        <span class="btn-black-title">
                            Request a service
                        </span>
                        <br>
                        <span>
                            We are ready for anything!
                        </span>
                   </button>
                 </div>
                 
                </div>
            </div>
        </div>
    </div>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Why work with us?</h1>
    <p class="lead font-weight-normal">Here’s how we can help you exceed your goals</p>
   
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  <!-- START THE FEATURETTES -->
<div class="container marketing bg-white ">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">We have a plan, <span class="text-muted">even if you don't</span></h2>
        <p class="lead">New to graphics or not sure what you need? No problem. We’ll guide you through the entire process.</p>
      </div>
      <div class="col-md-5">
        <image class="bd-placeholder-img bd-placeholder-img-lg featurette-image rounded-circle img-fluid mx-auto" width="500" height="500" src="/media/planning.jpg"> </image>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Get more bang for your buck</h2>
        <p class="lead">Unlike a large agency, our overhead is low so you’re paying for great design and not our hydro bill!</p>
      </div>
      <div class="col-md-5 order-md-1">
       <image class="bd-placeholder-img bd-placeholder-img-lg featurette-image rounded-circle img-fluid mx-auto" width="500" height="500" src="/media/plant.jpg"> </image>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">We’ll make your life easier</h2>
        <p class="lead">Sit back and relax while we come up with creatives solutions to your biggest pain points.</p>
      </div>
      <div class="col-md-5">
        <image class="bd-placeholder-img bd-placeholder-img-lg featurette-image rounded-circle img-fluid mx-auto" width="500" height="500" src="/media/relaxed.jpg"> </image>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Most importantly, you’ll get results</h2>
        <p class="lead">Our primary focus is exceeding your goals and getting results. Great design is just a byproduct!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <image class="bd-placeholder-img bd-placeholder-img-lg featurette-image rounded-circle img-fluid mx-auto" width="500" height="500" src="/media/winning.jpg"> </image>
      </div>
    </div>

    <hr class="featurette-divider">
</div>
    <!-- /END THE FEATURETTES -->
</div>

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block text-white mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
      <small class="d-block mb-3 text-light">&copy; 2020</small>
    </div>
    <div class="col-6 col-md">
      <h5  class="text-light">Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="#">Cool stuff</a></li>
        <li><a class="text-light" href="#">Random feature</a></li>
        <li><a class="text-light" href="#">Team feature</a></li>
        <li><a class="text-light" href="#">Stuff for developers</a></li>
        <li><a class="text-light" href="#">Another one</a></li>
        <li><a class="text-light" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 class="text-light">Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="#">Resource</a></li>
        <li><a class="text-light" href="#">Resource name</a></li>
        <li><a class="text-light" href="#">Another resource</a></li>
        <li><a class="text-light" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5  class="text-light">Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="#">Business</a></li>
        <li><a class="text-light" href="#">Education</a></li>
        <li><a class="text-light" href="#">Government</a></li>
        <li><a class="text-light" href="#">Gaming</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">

    </div>
  </div>
{% endblock %}


