
{% extends "base.html" %}
{% load static %}

{% block page_header %}

    <div class="container header-container ">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
 <section class="header-image">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 col-sm-12  mt-5  p-3 my-auto">
                <h1 class="display-3 d-none d-lg-block logo-font text-white">
                    Graphics Simplified
                </h1>
                <div class="my-5 d-none d-lg-block">
                    <p class="text-white">
                        Located in Ireland, we are a top level graphic design and branding studio focused on helping our clients exceed their goals. Let us make your life easier!
                    </p>
                </div>
                <div class="row ">
                 <div class="col-lg-8 col-sm-8 px-3">
                   <a class="btn btn-black text-center btn-lg" href="{% url 'services' %}">
                        <span class="btn-black-title">
                            Let us help you!
                        </span>
                        <br>
                        <span>
                            View our services
                        </span>
                   </a>
                 </div>
                 <div class="col-lg-8 col-sm-8 px-3">
                   <a  class="btn btn-white-outline" href="">
                        <span class="btn-black-title">
                            Request a service
                        </span>
                        <br>
                        <span>
                            We are ready for anything!
                        </span>
                   </a>
                 </div>
                 
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="position-relative overflow-hidden p-3 p-md-5 paddingbottom-5  text-center bg-light">
  <div class="col-md-5  mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Why work with us?</h1>
    <p class="lead font-weight-normal">Here’s how we can help you exceed your goals</p>
   
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  <!-- START THE FEATURETTES -->
<div class="container marketing bg-white ">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">We have a plan, <span class="text-muted">even if you don't</span></h2>
        <p class="lead">New to graphics or not sure what you need? No problem. We’ll guide you through the entire process.</p>
      </div>
      <div class="col-md-5">
        <image class="bd-placeholder-img bd-placeholder-img-lg featurette-image rounded-circle img-fluid mx-auto" width="300" height="300" src="{{MEDIA_URL}}media/animation-work.png"> </image>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Get more bang for your buck</h2>
        <p class="lead">Unlike a large agency, our overhead is low so you’re paying for great design and not our hydro bill!</p>
      </div>
      <div class="col-md-5 order-md-1">
       <image class="bd-placeholder-img bd-placeholder-img-lg featurette-image rounded-circle img-fluid mx-auto" width="300" height="300" src="/media/open-vault.png"> </image>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">We’ll make your life easier</h2>
        <p class="lead">Sit back and relax while we come up with creatives solutions to your biggest pain points.</p>
      </div>
      <div class="col-md-5">
        <image class="bd-placeholder-img bd-placeholder-img-lg featurette-image rounded-circle img-fluid mx-auto" width="300" height="300" src="/media/fish.png"> </image>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Most importantly, you’ll get results</h2>
        <p class="lead">Our primary focus is exceeding your goals and getting results. Great design is just a byproduct!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <image class="bd-placeholder-img bd-placeholder-img-lg featurette-image rounded-circle img-fluid mx-auto" width="300" height="300" src="/media/pen.png"> </image>
      </div>
    </div>

    <hr class="featurette-divider">
    
</div>
    <!-- /END THE FEATURETTES -->
</div>

<header class="bg-purple text-center py-5 ">
  <div class="container">
    <h1 class="font-weight-light text-white">Meet the Team</h1>
  </div>
</header>

<div class="bg-light">
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4 mt-4 bg-light">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Team Member</h5>
          <div class="card-text text-black-50">Brand Specialist</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4  mt-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Team Member</h5>
          <div class="card-text text-black-50">Ux Designer</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4  mt-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/sNut2MqSmds/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Team Member</h5>
          <div class="card-text text-black-50">Graphic Designer</div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4  mt-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/ZI6p3i9SbVU/500x350" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Team Member</h5>
          <div class="card-text text-black-50">Logo Artist</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
<div class="row">
            <div class="col-12 pt-4 paddingbottom-5 " >
                <a class="btn btn-green-sm" href="{% url 'portfolio' %}">
                    <span class="btn-black-title">
                        Want to see our previous work?
                    </span>
                    <br>
                    <span>
                        Click here!
                    </span>
                </a>
            </div>
        </div>
</div>

<!-- /.container -->
</div>

{% endblock %}


