{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

  <div class="container-fluid bg-light">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
        <div class="image-container my-5 padding-left-mobile pt-3">
            {% if item.image %}
                <a href="{{ item.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ item.image.url }}" alt="{{ item.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
                </a>
            {% endif %}
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 "> 
        <h1 class="portfolio-heading portfolio-spacing">{{ item.name }}</h1>
        <h3 class="price-spacing">Price:</h3>
        <p class="lead mb-0 text-left font-weight-bold price-spacing">€{{ item.price }}</p>
        

            {% if item.clicks %}
                <small class="text-muted portfolio-spacing mt-4"><i class="fas fa-star mr-1 fa-lg color-purple"></i>{{ product.clicks }} / 5</small>
            {% else %}
                <small class="text-muted">No clicks</small>
            {% endif %}
        <p class="services-spacing lead details-paragraph">{{ item.big_description }}</p>
        <div class="row Add-tocart-spacing">
            <div class="col-12 padding-none">
                <form class="form" action="{% url 'add_to_bag' item.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-6">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black-quantity rounded-0" 
                                                data-item_id="{{ item.id }}" id="decrement-qty_{{ item.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ item.id }}"
                                            id="id_qty_{{ item.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black-quantity rounded-0"
                                                data-item_id="{{ item.id }}" id="increment-qty_{{ item.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                
                                <input type="submit" class="btn btn-green-outline-sm  mb-3" value="Add to bag">
                                <a href="{% url 'services' %}" class=" btn btn-green-sm">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span >Keep Shopping</span>
                                </a>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
            </div>
        </div>
      </div>
     
     <div class="container text-center mb-4">
        {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_service' item.id %}">Edit</a> | 
                    <a class="text-danger" href="{% url 'delete_service' item.id %}">Delete</a>
                </small>
          {% endif %}
     </div>
      
     
      <div class="container mb-4">
        <div class="row portfolio-spacing">
            <div class="col-12">
                <h1 class="portfolio-heading title-blue">HERE @ DESIGNDROP</h1>
                
                <p class="lead details-paragraph">We follow a unique, creative approach to deisgning the finest graphics to allow your product to promote itself. We ensure the highest quality on all services that we provide.
                                We work work closely with the best freelance designers around the globe, This gives us the best advantage over any other graphic design service around. We will guarentee to bring your
                                Innovations to life. We balance creativity with function offering cutting-edge design that sets your business apart from the competition.
                                Your logo and branding are your unique visual identifier, helping people recognise you and allow them to remember what your essence holds. 
                                By working alongside us here at DESIGNDROP - we guarantee you will not be compromising the importance within the essence of your brand.
                
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 padding-none">
                <div class="image-container">
                    <img class="card-img-top portfolio-images img-fluid" src="/media/strike-designdrop3.png" alt="{{ portfolio.name }}">
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>

  <div class="container">
         
          <div class="row">
            <div class="col-12 padding-60" >
                <a class="btn btn-green-sm" href="{% url 'services' %}">
                    <span class="btn-black-title">
                        Back to Our Services
                    </span>
                </a>
            </div>
          </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'orders/includes/quantity_input_script.html' %}
{% endblock %}