@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* main styles */

body{
  font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

.margin-top-home {
    margin-top: 58vh!important;
}

.margin-top-portfolio {
    margin-top: 12vh!important;
}

p {
    font-weight: 400!important;
}

.navbar{
    padding: 0!important;
}

.font-small{
    font-size: 1.2rem;
    font-weight: 400;
}
.navbar{
    font-family: 'Roboto', sans-serif;
}

.header-image {
    background: url('/media/header.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #555;
    font-family: 'Roboto', sans-serif;
}

.paddingbottom-5{
    padding-bottom: 80px!important;
}

.update-link, .remove-item {
    cursor: pointer;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 4px;
}

.main-logo-link {
    width: fit-content;
}

.get-quote-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
   height: 90px;
    width: 60%;
    min-width: 255px;
    border-radius: 8px;
    
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    background-color: #000;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-white {
   height: 90px;
    width: 60%;
    min-width: 255px;
    border-radius: 8px;
    margin-top: 2vw;
    font-size: 1.1rem;
    font-weight: 300;
    color: #000;
    background-color: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-black-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.get-quote-button:hover,
.get-quote-button:active,
.get-quote-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.col-lg-4 {
    padding-left: 0px;
}

/* Messages */

.message-container {
    position: fixed;
    top: 94px!important;
    right: 15px;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Testimonial styles */
.testimonials-clean {
  color:#313437;
  background-color:#eef4f7;
}

.testimonials-clean p {
  color:#7d8285;
}

.testimonials-clean h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .testimonials-clean h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.testimonials-clean .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.testimonials-clean .intro p {
  margin-bottom:0;
}

.testimonials-clean .people {
  padding:50px 0 20px;
}

.testimonials-clean .item {
  margin-bottom:32px;
}



.testimonials-clean .item .box {
  padding:30px;
  background-color:#fff;
  position:relative;
}

.testimonials-clean .item .box:after {
  content:'';
  position:absolute;
  left:30px;
  bottom:-24px;
  width:0;
  height:0;
  border:15px solid transparent;
  border-width:12px 15px;
  border-top-color:#fff;
}

.testimonials-clean .item .author {
  margin-top:28px;
  padding-left:25px;
}

.testimonials-clean .item .name {
  font-weight:bold;
  margin-bottom:2px;
  color:inherit;
}

.testimonials-clean .item .title {
  font-size:13px;
  color:#9da9ae;
}

.testimonials-clean .item .description {
  font-size:15px;
  margin-bottom:0;
}

.testimonials-clean .item img {
  max-width:40px;
  float:left;
  margin-right:12px;
  margin-top:-5px;
}



/* buttons */

.btn-black:hover {
  background-color: #fff;
  color: #000;
}

.btn-black-services {
    height: 32px;
    width: 41%;
    min-width: 92px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    background-color: #000;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-black-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.btn-black-outline {
  height: 100px;
  width: 100%;
  min-width: 255px;
  color: #000;
  border: 2px solid #000;
  border-radius: 8px;
  margin-top: 2vw;
  font-size: 1.1rem;
  font-weight: 400;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-white-outline {
    height: 90px;
    width: 60%;
    min-width: 255px;
    border-radius: 8px;
    margin-top: 2vw;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
  border: 2px solid #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-white-outline:hover {
  color: #5faf9f;
  border: 2px solid #5faf9f;
}

.btn-black-outline:hover {
  color: #fff;
  border: 2px solid #fff;
}

.btn-green-outline-sm {
  font-size: 1.1rem;
  width: 100%;
  color: #000;
  border: 2px solid #000;
  border-radius: 6px!important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-green-outline-sm:hover {
  color: #fe346e;
  border: 2px solid #fe346e;
}

.btn-green-sm {
  width: 100%;
  color: #fff!important;
  background-color: #5e17eb;
  border-radius: 8px;
  font-size: 1.1rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-green-sm:hover {
    color: #5e17eb!important;
  background-color: #fff;
}


.btn-specific{
    width: 100%;
  color: #fff;
  background-color: #000;
  border-radius: 6px;
  font-size: 1.1rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-specific:hover {
  color: #000;
  background-color: #fff;
}

.btn-black-quantity {
    background: black;
    color: white;

}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #000000; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #5e17eb;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}



.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #000;
    border-color: #5e17eb;
}




/* custom coloured text and backgrounds */
.text-black {
    color: #000 !important;
}

.bg-purple {
    background-color: #5e17eb;
}

.color-purple {
    color: #5e17eb;
}

.bg-black{
    background: #000 !important;
    color: #fff !important;
}

.text-blue{
    color: #1b44b6!important;
}

.text-white {
    color: #fff !important;
}

.title-blue {
    color: #5e17eb!important;
}

.bg-green{
    background: #438a5e!important;
}

.bg-green-2{
    background: #5faf9f!important;
}

.border-black {
    border: 1px solid black !important;
}

/* Services */

.bg-light {
    background-color: #e4e3e3!important;
}

#services {
    padding-top: 0px!important;
}

.fixed-card-height {
  height: 100%;
  font-size: 1rem;
}

#services {
  min-height: 900px;
  padding-top: 60px;
}

.service-badge {
  font-size: 17px;
  font-weight: 300;
  vertical-align: 4px;
  margin-left: 5px;
}

.details-paragraph {
    font-size: 1.2rem;
}

/* Portfolio */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #f7f7f7;
	z-index: -1;
}

.padding-80{
    padding-top: 80px;
    padding-bottom: 80px;
}

.padding-60{
    padding-top: 60px;
    padding-bottom: 60px;
}

.padding-none{
    padding: 0!important;
}

.portfolio-images {
    height: auto!important;
}

.portfolio-smallier-images {
    height: 70vh!important;
}

.portfolio-heading{
    font-weight: 800;
  line-height: 1;
  letter-spacing: -.05rem;
  margin-bottom: 2rem;
}

.portfolio-spacing {
    margin: 5rem;
    margin-bottom: 2rem!important;
}

.Add-tocart-spacing{
    margin-left: 5rem!important;
    margin-right:  5rem!important;
    margin-top: 1.4rem!important;
    margin-bottom: 1rem!important;
}

.services-spacing {
    margin-left: 5rem;
    margin-top: 2rem;
}

.price-spacing{
    
    margin-left: 5rem;
}

.bullet-item {
    font-size: 1.5rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* Product form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* services video */




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .featurette-heading {
    font-size: 40px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.bd-placeholder-img {
        font-size: 1rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

/* @media only screen and (max-width: 600px) {
     .header-container {
        padding-top: 84px;
    }
    body {
        height: calc(100vh - 116px);
    }

    .display-4 {
        font-size: 2rem!important;
    }

    .margin-top-home {
    margin-top: 36vh!important;
}

.list-inline-item:not(:last-child) {
    margin-right: none!important;
}

} */

@media (max-width: 991px) {
  .margin-top-home {
    margin-top: 52vh!important;
}

    body {
        height: calc(100vh - 116px);
    }

    .display-4 {
        font-size: 2rem!important;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    #services{
        padding-top: 60px!important;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    .services-spacing {
   margin: 0rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.col-lg-4 {
    padding-left: 16px!important;
}

.portfolio-images {
    height: 30vh!important;
}

.portfolio-smallier-images {
    height: 30vh!important;
}

.padding-tablet {
    margin-top: 486px!important;
}

.portfolio-spacing {
    margin: 0rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.padding-left-mobile {
    padding-left: 1vh!important;
    padding-top: 10vh!important;
}


.price-spacing {
    margin-left: 0!important;
    margin-top: 1rem;
}

.details-paragraph {
    font-size: 1.2rem;
}

.margin-top-work-mobile {
    margin-top: 19vh!important;
}

.header-image {
    background: url('/media/header-mobile.png') no-repeat center center fixed;
}

}



