

html {
    height: 100%;
}


.navbar {
    padding: 0.5rem 0.5rem;
}

.header-image {
    background: url('/media/DesignDrop (5).png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #555;
    font-family: 'Lato';
}

.paddingbottom-5{
    padding-bottom: 80px!important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.get-quote-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
   height: 90px;
    width: 60%;
    min-width: 255px;
    border-radius: 8px;
    
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    background-color: #000;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-white {
   height: 90px;
    width: 60%;
    min-width: 255px;
    border-radius: 8px;
    margin-top: 2vw;
    font-size: 1.1rem;
    font-weight: 300;
    color: #000;
    background-color: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.btn-black-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.get-quote-button:hover,
.get-quote-button:active,
.get-quote-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.col-lg-4 {
    padding-left: 0px;
}

/* buttons */

.btn-black:hover {
  background-color: #fff;
  color: #000;
}



.btn-black-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.btn-black-outline {
  height: 100px;
  width: 100%;
  min-width: 255px;
  color: #000;
  border: 2px solid #000;
  border-radius: 8px;
  margin-top: 2vw;
  font-size: 1.1rem;
  font-weight: 400;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-white-outline {
    height: 90px;
    width: 60%;
    min-width: 255px;
    border-radius: 8px;
    margin-top: 2vw;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
  border: 2px solid #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-white-outline:hover {
  color: #05dfd7;
  border: 2px solid #05dfd7;
}

.btn-black-outline:hover {
  color: #fff;
  border: 2px solid #fff;
}

.btn-black-outline-sm {
  font-size: 1.1rem;
  width: 100%;
  color: #000;
  border: 2px solid #000;
  border-radius: 6px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-black-outline-sm:hover {
  color: #5faf9f;
  border: 2px solid #5faf9f;
}

.btn-black-sm {
  width: 100%;
  color: #fff;
  background-color: #5faf9f;
  border-radius: 6px;
  font-size: 1.1rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-black-sm:hover {
    color: #fff;
  background-color: #000;
}


.btn-specific{
    width: 100%;
  color: #fff;
  background-color: #000;
  border-radius: 6px;
  font-size: 1.1rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-specific:hover {
  color: #000;
  background-color: #fff;
}





/* custom coloured text and backgrounds */
.text-black {
    color: #000 !important;
}

.bg-black{
    background: #000 !important;
    color: #fff !important;
}

.text-blue{
    color: #1b44b6!important;
}

.text-white {
    color: #fff !important;
}

.title-green {
    color: #5faf9f!important;
}

.bg-green{
    background: #438a5e!important;
}

.bg-green-2{
    background: #5faf9f!important;
}

.border-black {
    border: 1px solid black !important;
}

/* Services */

.bg-light {
    background-color: #e4e3e3!important;
}

#services {
    padding-top: 0px!important;
}

.fixed-card-height {
  height: 100%;
  font-size: 1rem;
}

#services {
  background-color: e;
  min-height: 900px;
  padding-top: 60px;
}

.service-badge {
  font-size: 17px;
  font-weight: 300;
  vertical-align: 4px;
  margin-left: 5px;
}

/* Portfolio */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #f7f7f7;
	z-index: -1;
}

.padding-80{
    padding-top: 80px;
    padding-bottom: 80px;
}

.padding-none{
    padding: 0!important;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .featurette-heading {
    font-size: 40px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.bd-placeholder-img {
        font-size: 1rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 105px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 84px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .h-100 {
    height: 92%!important;
}
.header-image {
    background: url('/media/DesignDrop (7).png') no-repeat center center fixed;
}

.my-auto {
    margin-top: 410px!important;
}

}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

