<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mb-2 w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Graphics
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Graphics</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#"  >
                Portfolio
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Branding &amp; Buisness
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Small buisness </a>
                <a href="" class="dropdown-item">Personal </a>
                <a href="" class="dropdown-item">Corporate </a>
                <a href="" class="dropdown-item">All branding</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Logos
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">One off</a>
                <a href="" class="dropdown-item">Company</a>
                <a href="" class="dropdown-item">All Logo's</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Designs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>