<div class="collapse navbar-collapse ml-3" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block mb-3 d-md-none">
             <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item  mb-3  d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'services' %}" id="all-services-link" >
                All Services
            </a>
        </li>

        <li class="nav-item  mb-3 d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'portfolio' %}" id="portfolio-link" >
                Our Work
            </a>
        </li>
    </ul>
</div>