<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mb-2 w-auto mx-auto">
    
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark mr-5" href="#"  >
                Our Work
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="{% url 'services' %}" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Services
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Logos
            </a>
        </li>

    </ul>
</div>