<li class="list-inline-item">
    <a class="text-dark nav-link d-block d-lg-none" href="{% url 'home' %}" id="" >
        <div class="text-center">
            
            <p class="my-0 logo-font font-small">DESIGNDROP</p>
        </div>
    </a>
</li>

<li class="list-inline-item">
    <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none" href="{% url 'view_bag' %}">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg text-dark"></i></div>
            <p class="my-0 text-dark">
                {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                {% else %}
                    €0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>